.Container{
  width: min(90vw, 800px);
  margin: auto;
}

#balance{
  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    margin-top: -8rem;
}

h3{
  font-weight: normal;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

p{
  font-size: 2rem;
    line-height: 3rem;
    margin-top: 1rem;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  white-space: nowrap;
  border-width: 0;
}

#balance h2 {
  color: #fff;
  margin-top: 0;
}